<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head> 
	<title> Cadastro de Clientes </title>
</head>

<body>
	<section class="aw-layout-content  js-content" layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de Cliente
				</h1>
			</div>
		</div>
	
		<div class="container-fluid">
			<form method="POST" th:object="${cliente}" class="form-vertical  js-form-loading">
				
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="nome">Nome</label>
							<input id="nome" type="text" class="form-control"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-4 form-group">
					<label for="tipoPessoa">Tipo Pessoa</label>
						<div>
						    <div class="radio radio-inline">
								<input id="tipoPessoa" type="radio" />
								<label>Física</label>
							</div>
							<div class="radio radio-inline">
								<input id="tipoPessoa" type="radio" />
								<label>Jurídica</label>
							</div>
						</div>
					</div>
					
					<div class="col-sm-8">
						<div class="form-group">
							<label for="nome">CPF/CNPJ</label>
							<input id="nome" type="text" class="form-control"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label for="telefone">Telefone</label>
							<input id="telefone" type="text" class="form-control"/>
						</div>
					</div>
					
					<div class="col-sm-8">
						<div class="form-group">
							<label for="email">E-mail</label>
							<input id="email" type="text" class="form-control"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label for="logradouro">Logradouro</label>
							<input id="logradouro" type="text" class="form-control"/>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="form-group">
							<label for="logradouro">Número</label>
							<input id="logradouro" type="text" class="form-control"/>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="form-group">
							<label for="complemento">Complemento</label>
							<input id="complemento" type="text" class="form-control"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label for="cep">CEP</label>
							<input id="cep" type="text" class="form-control"/>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="form-group">
							<label for="estado">Estado</label>
							<div class="bw-field-action">
								<select id="estado" class="form-control">
									<option value="">Selecione o Estado
								</select>
							</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="form-group">
							<label for="cidade">Cidade</label>
							<div class="bw-field-action">
								<select id="cidade" class="form-control">
									<option value="">Selecione o Cidade
								</select>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>